.banner{
    background-image: url("/images/background.webp");
    padding: 9%;
    border-top: solid 3px hsla(0, 100%, 50%, 0.493);
    border-bottom: solid 3px hsla(0, 100%, 50%, 0.541);
}

.banner-text{
    width: 70%;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner-text h1{
    font-family: fantasy;
    font-size: 200%;
    font-style: oblique;
    color: hsl(47, 7%, 63%);
    -webkit-text-stroke: 2px hsl(0, 0%, 0%);
    font-weight: 900;
}

.banner-button button{
    width: 15rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    font-family: "Roboto Condensed";
    background-color: hsla(0, 0%, 38%, 0.815);
    cursor: pointer;
}

.banner-button button:hover{
    background-color: hsla(0, 0%, 38%, 0.938);
    box-shadow: 5px 5px 15px 5px hsla(0, 100%, 50%, 0.835);
}


/*====================
========Main=========
======================*/
.feature-title{
    padding: 2rem;
}

.feature-title h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-size: 200%;
    /*font-style: oblique;*/
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    content: "»";
}

.feature-element{
    border: solid 3px hsl(0, 0%, 100%);
    border-radius: 10px;
    background-color: hsla(0, 1%, 74%, 0.76);
    padding: 0.1rem;
    box-shadow: 5px 5px 15px 5px hsla(0, 100%, 50%, 0.835);
}

.feature-element:hover{
    box-shadow: 5px 5px 15px 5px hsl(0, 0%, 0%);
}

.feature-element-image{

}

.feature-element-image:hover{
    cursor: pointer;
}

.feature-element-title{
    min-height: 4vh;
    max-height: 10vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0.3rem;
}

.feature-element-title span{
    font-size: 1.5rem;
    font-weight: 900;
}

.feature-element-title span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.feature-element-day svg{
    width: 1.3rem;
    height: 1.3rem;   
}

.feature-element-address{
    min-height: 5vh;
    max-height: 10vh;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.feature-element-address svg{
    width: 1.3rem;
    height: 1.3rem;
}

.feature-element-buy{
    padding: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.feature-element-buy button{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    font-family: "Roboto Condensed";
    background-color: hsla(0, 0%, 0%, 0.966);
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}

.feature-element-buy button:hover{
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    border: solid 2px;
}

.separator hr{
    border: 1px solid hsl(0, 0%, 0%);
}

.find-us{
    padding: 1rem;
    padding-bottom: 3rem;
}

.find-us-main{
    margin: 2rem 0;
}

.find-us-main h1{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed";
    font-size: 200%;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
}

.find-us-content{
    border: solid 3px hsl(0, 0%, 100%);
    background-color: hsla(0, 1%, 74%, 0.76);
    border-radius: 10px;
    padding: 0.5rem 15%;
}

.find-us-content-title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.find-us-content-who-text{
    
}

.find-us-content-title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.find-us-content-title-text{
    
}

.find-us-map iframe{
    width: 100%;
    height: 20rem;
    border: solid 3px hsl(0, 0%, 100%);
    border-radius: 10px;
}