.footer{

    padding-top: 5%;
    border-top: 1px solid hsl(0, 0%, 100%);
    
    .footer-text{

        .footer-text-span{

            text-align: center;
            margin: 1rem;

            span{

                color: hsl(0, 0%, 100%);

                &:hover{

                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

    }

    .footer-logo{

        padding: 0.5rem;
        
        .footer-logo-social{

            display: flex;

            .footer-logo-social-media{

                width: 100%;
                text-align: center;
                margin-top: 5%;

                svg{

                    width: 1.5rem;
                    height: 1.5rem;
                    color: hsl(0, 0%, 100%);

                    &:hover{
                        
                        cursor: pointer;
                    }
                }
            }

        }
    }
}