.admin-panel {

    margin: 5% 3%;

    .admin-panel-table {

        table {

            margin: auto;
            width: 100%;


            th {

                padding: 0.5rem;
                font-size: 1.2rem;
                border-bottom: 3px solid hsl(0, 0%, 100%);
                color: hsl(0, 0%, 100%);
            }

            td {

                font-weight: 300;
                padding: 0.5rem;
                text-align: center;
                color: hsl(0, 0%, 100%);

                .table-buttons{

                    display: flex;

                    .table-button-read {

                        padding-right: 0.5rem;
    
                        svg {
    
                            color: hsl(0, 0%, 100%);
                            width: 1.5rem;
                            height: 1.5rem;
    
                            &:hover {
    
                                color: hsl(0, 0%, 50%);
                                cursor: pointer;
                            }
                        }
                    }
    
                    .table-button-delete {
    
                        svg {
    
                            color: hsl(0, 0%, 100%);
                            width: 1.5rem;
                            height: 1.5rem;
    
                            &:hover {
    
                                color: hsl(0, 96%, 39%);
                                cursor: pointer;
                            }
                        }
                    }
                }
                

            }
        }
    }

    .admin-panel-form {

        border-left: 1px solid hsl(0, 0%, 100%);
        padding-left: 5%;
        margin-top: 2%;

        .form-element {

            padding-top: 1rem;
            width: 100%;

            .form-element-label {

                margin-bottom: 0.5rem;

                label {

                    color: hsl(0, 0%, 100%);
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            .form-element-input {

                input {

                    font-size: 100%;
                    height: 2rem;
                }


            }
        }

        .form-button {

            margin-top: 5%;
            padding-right: 0.5rem;
            width: 85%;

            .form-button-reset {

                padding-right: 2rem;
                width: 50%;

                button {

                    display: flex;
                    padding: 0.5rem;
                    width: 9rem;

                    svg {

                        width: 1.5rem;
                        height: 1.5rem;
                        padding-right: 0.5rem;
                    }

                    border-radius: 10px;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 900;

                    &:hover {

                        cursor: pointer;
                        color: hsl(0, 0%, 100%);
                    }
                }
            }

            .form-button-update {

                button {

                    display: flex;
                    padding: 0.5rem;
                    width: 8rem;

                    svg {

                        width: 1.5rem;
                        height: 1.5rem;
                        padding-right: 0.5rem;
                    }

                    border-radius: 10px;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 900;

                    &:hover {

                        cursor: pointer;
                        color: hsl(0, 0%, 100%);
                    }
                }
            }

        }

    }
}

.footer-admin {

    margin-top: 10%;
    border-top: 3px solid hsl(0, 0%, 100%);
    text-align: center;
    justify-content: center;
    width: 100%;

    img {

        margin-top: 1.5%;
    }
}


/*---------------------*/


.hamburger {

    margin-top: 10%;

    .line {

        background: hsl(0, 0%, 100%);
        height: 0.5rem;
        width: 4rem;
        margin-bottom: 0.7rem;
        transition: all 1s;
    }

    &.active .line1 {

        transform: rotate(0.125turn) translate(0, 25px);
    }

    &.active .line2 {

        opacity: 0;
    }

    &.active .line3 {

        transform: rotate(-0.125turn) translate(0, -26px);
    }
}

.header-admin-menu {

    display: flex;
    position: absolute;
    right: 5%;
    z-index: $z-index-menu-button;

    svg {

        width: 2rem;
        height: 2rem;
        color: white;

        &:hover {

            color: hsla(0, 100%, 50%, 0.588);
        }
    }
}

.admin-menu {

    background-color: hsl(0, 0%, 0%);
    height: 100vh;
    left: 0;
    position: fixed;
    top: -100vh;
    transition: top 0.5s;
    width: 100%;
    z-index: $z-index-mobile-menu;

    &.up {

        top: 0;
        overflow: hidden;

        ul {

            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 30% 30%;
        }

        li {

            margin-bottom: 20%;
            z-index: $z-index-mobile-menu;
            cursor: pointer;
            font-family: "Roboto Condensed";
            font-size: 1.5rem;
            font-weight: 600;
            align-items: center;
            justify-content: center;
            color: hsl(0, 0%, 100%);

            &:hover {

                color: hsla(0, 100%, 50%, 0.588);
            }
        }

        svg {

            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

.form-element-textarea {
    padding-top: 3%;
    margin-left: 10%;
    
    .ck.ck-editor__editable_inline>:last-child {
        
        color: black;
        min-height: 4rem;
    }
}

