.filters{
    
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    text-align: center;

    svg{

        margin: 0.5rem;
        width: 2rem;
        height: 2rem;
        color: hsl(0, 0%, 0%);
    }

    &:hover{

        cursor: pointer;
    }
}