header {

    padding-top: 2%;
    background-color: hsl(0, 0%, 0%);

    .header-admin-logo {

        h1 {

            color: hsl(0, 0%, 100%);

            svg {
                
                padding-right: 1rem;
                width: 5rem;
                height: 5rem;
            }
        }
    }

    .header-admin-menu {

        margin-top: 0.7%;
        margin-left: auto;
        width: max-content;
        cursor: pointer;

    }
}