.checkout{

    margin: 5%;

    .checkout-title{

        margin-top: 5%;
        margin-bottom: 10%;

        h3{
            text-decoration: underline;
            text-align: center;
        }
    }

    .checkout-form{

        .checkout-form-data{
            
            height: 100%;
            
            .form-element{

                .form-element-input{

                    input{

                        width: 100%;
                        height: 1.5rem;
                    }

                    select{

                        height: 2rem;
                        width: 100%;
                    }
                }

                .form-element-input-address{

                    input{

                        width:100%;
                        height: 1.5rem;
                    }
                }
            }
        }

        .checkout-form-payment{

            margin: 5%;
            
            .cart-resume{

                width: 100%;
                padding-bottom: 1rem;
                padding-top: 3rem;
        
                table{
        
                    margin-bottom: 1rem;
                    width: 100%;
                    border: 2px solid hsl(0, 0%, 100%);
                    height: 10rem;
        
                    th{
        
                        border: 2px solid hsl(0, 0%, 100%);
                        background-color: hsl(0, 0%, 100%);
                    }
        
                    td{
        
                        text-align: center;
                        color: hsl(0, 0%, 100%);
                    }
                }
            }
        }

        .checkout-form-payment-radio{

            .checkout-form-payment-radio-item{

                color: hsl(0, 0%, 100%);
                margin-top: 3%;
            }
        }

        .checkout-form-payment-button{

            margin-top: 10%;

            button{

                margin-left: 30%;
                width: 8rem;
                height: 2.5rem;
                border-radius: 10px;
                background-color: hsla(0, 0%, 0%, 0.548);
                color: hsl(0, 0%, 100%);
                border: 2px solid hsl(0, 0%, 100%);
                font-weight: 900;
    
                &:hover{

                    cursor: pointer;
                    box-shadow: 5px 5px 15px 5px hsla(110, 100%, 50%, 0.835);
                    color: hsl(0, 0%, 100%);
                }
            }
        }
    }

}