.Panel {
	width: 100%;
	max-width: 600px;
	margin: 30px auto;
	&__body {
		background-color: hsl(0, 0%, 0%);
		padding: 10px 20px;
	}
}

.Tabs {

	position: relative;
	background-color: hsl(0, 0%, 100%);

	&:after {
		content: ' ';
		display: table;
		clear: both;
	}

	margin: 0;
	padding: 0;
	list-style: none;
	/**
	 * UPDATE: better to animate "transform" property than "left"
	 * property. You can see old code lower down for reference.
	 */

	&__tab {

		float: left;
		width: 33.333%;
		text-align: center;

		&:first-child.active ~ .Tabs__presentation-slider {

			transform: translateX(0) scaleX(0.333);
		}

		&:nth-child(2).active ~ .Tabs__presentation-slider {

			transform: translateX(33.333%) scaleX(0.333);
		}

		&:nth-child(3).active ~ .Tabs__presentation-slider {

			transform: translateX(calc(33.333% * 2)) scaleX(0.333);
		}
	}

	&__presentation-slider {

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: hsl(230, 90%, 63%);
		transform-origin: 0 0;
		transition: transform .25s;
	}
	
	/**
	 * OLD CODE (for reference)
	 * It's a bit easier to understand with "left",
	 * but the animation is not as smooth
	 */

	&__tab {

		float: left;
		width: 33.333%;
		text-align: center;

		&:first-child.active ~ .Tabs__presentation-slider {

			left: 0;
		}

		&:nth-child(2).active ~ .Tabs__presentation-slider {

			left: 33.333%;
		}

		&:nth-child(3).active ~ .Tabs__presentation-slider {

			left: calc(33.333% * 2);
		}
	}

	&__presentation-slider {

		position: absolute;
		bottom: 0;
		left: 0;
		width: 33.333%;
		height: 2px;
		background-color: hsl(230, 89%, 62%);
		transform-origin: 0 0;
		transition: left .25s;
	}
}

.Tab {

	font-family: 'Roboto Slab';

	> a {

		display: block;
		padding: 10px 12px;
		text-decoration: none;
		color: hsl(0, 0%, 40%);
		transition: color .15s;
	}

	&.active {

		> a {

			color: hsl(0, 0%, 13%);
		}
	}

	&:hover {

		> a {
			
			color: hsl(0, 0%, 13%);
		}
	}
}