.cart{

    margin: 5%;

    .cart-title{

        margin-bottom: 5%;

        h1{

            text-align: center;
        }
    }

    .cart-table{
        
        table{

            margin: auto;
            width: 100%;
            margin-bottom: 4rem;

            th{

                font-size: 1.2rem;
                padding: 1rem;
                border-bottom: 3px solid hsl(0, 0%, 100%);
                color: hsl(0, 0%, 100%);
            }

            td{
                
                font-weight: 300;
                padding: 1rem;
                text-align: center;
                color: hsl(0, 0%, 100%);

                img{

                    border: 1px solid hsl(0, 0%, 100%);
                    width: 5rem;
                    height: 5rem;

                    &:hover{

                        cursor: pointer;
                    }
                }
            }
        }
    }

    .box-plus-minus{

        display: flex;
        justify-content: center;

        .plus-minus-counter.rest{

            button{

                border-radius: 1rem 0 0 1rem;
                background-color: hsl(0, 100%, 50%);
                color: hsl(0, 0%, 100%);
                font-weight: 600;
                width: 2rem;
                height: 2rem;

                &:hover{

                    cursor: pointer;
                }
            }
        }

        .plus-minus.counter{

            input{

                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
            }
        }

        .plus-minus-counter.sume{

            button{

                border-radius: 0 1rem 1rem 0;
                background-color: hsl(120, 100%, 25%);
                color: hsl(0, 0%, 100%);
                font-weight: 600;
                width: 2rem;
                height: 2rem;

                &:hover{

                    cursor: pointer;
                }
            }
        }
    }

    .cart-resume{

        margin-left: auto;
        width: 30%;
        padding-bottom: 3rem;

        table{

            margin-bottom: 1rem;
            width: 100%;
            border: 2px solid hsl(0, 0%, 100%);
            height: 10rem;

            th{

                border: 2px solid hsl(0, 0%, 100%);
                background-color: hsl(0, 0%, 100%);

            }

            td{

                text-align: center;
                color: hsl(0, 0%, 100%);

            }
        }

        .cart-resume-button{

            display: flex;
            justify-content: space-between;

            .cart-resume-button-return{

                button{

                    width: 8rem;
                    height: 2.5rem;
                    border-radius: 10px;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 900;
        
                    &:hover{

                        cursor: pointer;
                        box-shadow: 5px 5px 15px 5px hsla(0, 100%, 50%, 0.835);
                        color: hsl(0, 0%, 100%);
                    }
                }
            }

            .cart-resume-button-buy{
                
                button{

                    width: 8rem;
                    height: 2.5rem;
                    border-radius: 10px;
                    background-color: hsla(0, 0%, 0%, 0.548);
                    color: hsl(0, 0%, 100%);
                    border: 2px solid hsl(0, 0%, 100%);
                    font-weight: 900;
        
                    &:hover{

                        cursor: pointer;
                        box-shadow: 5px 5px 15px 5px hsla(110, 100%, 50%, 0.835);
                        color: hsl(0, 0%, 100%);
                    }
                }
            }
        }
    }

}

