.categories-menu{
    
    .categories-menu-title{
        
        margin-bottom: 2rem;
    }
    
    .categories-menu-elements{
    
        ul li{

            color: hsl(0, 0%, 100%);
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
            margin: 1rem 0
        }
    }
    
}
