form{
    
    .form-element{

        margin-bottom: 1rem;

        .form-element-label{

            margin-bottom: 0.5rem;

            label{

                color: hsl(0, 0%, 100%);
                font-size: 1rem;
                font-weight: 600;
            }
        }
       
        textarea{

            width: 26rem;
            height: 8rem;
        }
    }

    .form-button-send{

        margin-left: auto;
        width: max-content;

        button{

            width: 8rem;
            height: 2.5rem;
            border-radius: 10px;
            background-color: hsla(0, 0%, 0%, 0.548);
            color: hsl(0, 0%, 100%);
            border: 2px solid hsl(0, 0%, 100%);
            font-weight: 900;

            &:hover{

                cursor: pointer;
                box-shadow: 5px 5px 15px 5px hsla(0, 100%, 50%, 0.835);
                color: hsl(0, 0%, 100%);
            }
        }
    }
}