.box-tabs-content {

    .tabs {

        background-color: hsl(0, 0%, 100%);
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-bottom: 3%;

        .tab {

            border: 2px solid hsl(0, 0%, 0%);
            width: 100%;
            text-align: center;
            padding: 0.5rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;

            &:hover {

                background-color: hsl(0, 2%, 76%);
                cursor: pointer;
            }

            &.active {

                background-color: hsl(0, 0%, 0%);
                color: hsl(0, 0%, 100%);
                border-top: 2px solid white;
                border-left: 2px solid white;
                border-right: 2px solid white;
                transition: 0.5s;
            }
        }
    }

    .tabs-content {

        width: 30rem;
        height: 15rem;

        .tab-content {

            display: none;

            &.active {

                display: block;
            }
        }
    }
}